<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center">TODO List</h2>
        <form th:action="@{/search}" method="get">
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Search by title">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Add Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todo : ${todoList}">
                    <td th:text="${todo.id}">ID</td>
                    <td th:text="${todo.title}">Title</td>
                    <td th:text="${todo.addTime}">Add Time</td>
                    <td>
                        <a th:href="@{/edit/{id}(id=${todo.id})}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/delete/{id}(id=${todo.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/new" class="btn btn-success">Add New TODO</a>
    </div>
</body>
</html>
