<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New TODO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Add New TODO</h2>
        <form th:action="@{/save}" th:object="${todo}" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" th:field="*{title}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="addTime">Add Time</label>
                <input type="datetime-local" id="addTime" name="addTime" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <a href="/" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</body>
</html>
